.button {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(135deg, #81c784, green);
  border: 1px black solid;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  &.active {
    color: white;
    background: linear-gradient(135deg, green, #81c784);
  }

  &:hover {
    color: white;
    background: linear-gradient(135deg, green, #81c784);
    transition: color 0.5s ease-in-out;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}
