.mySwiper2 {
  width: 500px;
  max-height: 630px;

  :global(.swiper-button-next),
  :global(.swiper-button-prev) {
    color: #ff0000;
  }

  :global(.swiper-slide) {
    width: 100%;
    height: auto;
  }
}

.mySwiper {
  max-width: 500px;
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px grey solid;

  .thumbSlide {
    background-color: green;
    border: 1px grey solid;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease-in-out;
    &:hover {
      background-color: blue;
      transition: background-color 0.5s ease-in-out;
    }
  }
  .label {
    font-size: 16px;
    font-weight: 800;
    color: white;
  }
}
