.container {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(3, 3fr);
  column-gap: 30px;
  row-gap: 40px;
  margin: 0 auto;
  width: 900px;
}

.market__header {
  text-align: center;
  margin-bottom: 0;
}

.market__list--container {
  width: 300px;
}

.market__list {
  background-color: rgb(177, 236, 177);
  border-radius: 12px;
  padding: 20px;
}

.market__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.market__img {
  border-radius: 12px;
  background-color: rgb(218, 213, 213);
  width: 200px;
  height: 200px;
}

.market__price {
  font-weight: 800;
}

.market__price,
.market__description {
  padding: 0;
  align-self: flex-start;
  width: 100%;
  margin: 5px 0;
}

.list-reset {
  list-style-type: none;
}
