@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;700&family=Titillium+Web&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 1rem;
}

header {
  height: 50px;
  display: flex;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  background: #fafafa;
}

h3 {
  margin-bottom: 1rem;
}

section ul {
  list-style: none;
}

section ul li {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.content,
p {
  padding: 1rem 0;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
}

.icon-button {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
  opacity: 0.8;
  transition: color 0.3s ease;
}

.icon-button:hover:not(:disabled) {
  color: green;
}

.icon-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
